@charset "UTF-8";
.pd-30 {
  padding: 30px;
}

.pd-40 {
  padding: 40px;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.icon-drop {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.1938 12.2522L7.11737 8.834C6.94362 8.64095 7.08063 8.33331 7.34036 8.33331H13.4931C13.7529 8.33331 13.8899 8.64095 13.7161 8.834L10.6397 12.2522C10.5206 12.3846 10.3129 12.3846 10.1938 12.2522Z' fill='%23121212'/%3E%3C/svg%3E");
}

.btn__submit {
  display: flex;
  width: 408px;
  height: 77px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #D09914;
  border-radius: 100px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
}

.section {
  /* 정보 입력 영역 */
}
.section.formfield .inner {
  width: 892px;
}
.section .form__head {
  margin: 0 0 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 30px;
  border-bottom: 1px solid #E0E0E0;
}
.section .form__head__tit {
  padding: 0 0 12px;
  color: #121212;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.section .form__head__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.section .form__head__desc span {
  color: #D09914;
}
.section .form__head__sub {
  margin: -30px 0 0;
  padding: 30px;
  background: #FBFBFB;
  border-bottom: 1px solid #E0E0E0;
}
.section .form__head__sub .tit {
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin: 0 0 13px;
}
.section .form__head__sub .detail li {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  text-indent: -9px;
  padding: 0 0 0 10px;
}
.section .check-box {
  text-align: right;
}
.section .check-box input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section .check-box input:disabled + label::before {
  background-image: none;
  background-color: #999;
  border-radius: 5px;
}
.section .check-box input + label {
  display: flex;
  align-items: center;
  gap: 0 16px;
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
}
.section .check-box input + label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 22' fill='none'%3E%3Ccircle cx='11.499' cy='11' r='10' stroke='%23999999' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}
.section .check-box input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Ccircle cx='11' cy='11' r='11' fill='%23D09914'/%3E%3Cpath d='M5.05518 10.7235L9.203 14.9403L17.0839 7.05957' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}
.section .section .reg__frm {
  display: flex;
  align-items: center;
  position: relative;
}
.section__regi {
  display: flex;
  padding: 100px 0 0;
  margin: 0 auto;
}
.section__regi .info__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.section__regi .info__wrap .reg__frm {
  width: 100%;
  position: relative;
}
.section__regi .info__wrap .reg__frm__half {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  white-space: nowrap;
  gap: 0 40px;
}
.section__regi .info__wrap .reg__frm__bg {
  background: rgba(90, 148, 0, 0.1);
  border-top: 1px solid #D09914;
  border-bottom: 1px solid #D09914;
}
.section__regi .info__wrap .reg__frm__bg em {
  color: #D09914;
}
.section__regi .info__wrap .reg__frm__bg .detail {
  margin: 12px 0 0 40px;
}
.section__regi .info__wrap .reg__frm__bg .detail li {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  text-indent: -9px;
  padding: 0 0 0 10px;
}
.section__regi .info__wrap .reg__frm__bg .detail.promoForm {
  display: none;
}
.section__regi .info__wrap .reg__frm__bg .detail.active {
  display: block;
}
.section__regi .info__wrap .reg__frm.column {
  width: 100%;
  align-items: flex-start;
}
.section__regi .info__wrap .reg__frm__ttl {
  margin: 0 0 12px;
  color: #121212;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.section__regi .info__wrap .reg__frm__ttl span {
  color: #D09914;
}
.section__regi .info__wrap .reg__frm__desc {
  margin: 10px 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cmask id='mask0_2196_5597' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect width='20' height='20' transform='matrix(-1 0 0 1 20.8438 0.425781)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2196_5597)'%3E%3Cpath d='M13.2839 12.3001L10.8464 10.821L8.40885 12.3001L9.05469 9.5293L6.88802 7.6543L9.74219 7.42513L10.8464 4.80013L11.9505 7.42513L14.8047 7.6543L12.638 9.5293L13.2839 12.3001ZM19.1797 18.7585V3.75846C19.1797 3.30013 19.0165 2.90777 18.6901 2.58138C18.3637 2.25499 17.9714 2.0918 17.513 2.0918H4.17969C3.72135 2.0918 3.32899 2.25499 3.0026 2.58138C2.67622 2.90777 2.51302 3.30013 2.51302 3.75846V13.7585C2.51302 14.2168 2.67622 14.6092 3.0026 14.9355C3.32899 15.2619 3.72135 15.4251 4.17969 15.4251H15.8464L19.1797 18.7585ZM16.5547 13.7585H4.17969V3.75846H17.513V14.696L16.5547 13.7585Z' fill='%23121212'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 30px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.section__regi .info__wrap .reg__frm__input {
  width: 426px;
  height: 52px;
  position: relative;
}
.section__regi .info__wrap .reg__frm__input.row {
  display: flex;
  gap: 0 12px;
}
.section__regi .info__wrap .reg__frm__input.full {
  width: 100%;
}
.section__regi .info__wrap .reg__frm__input input, .section__regi .info__wrap .reg__frm__input select {
  width: 100%;
  height: 100%;
  border-color: #999999;
  transition: all 0.1s;
  font-size: 16px;
  background: #FFF;
  -webkit-background: none;
  -moz-appearance: none;
  appearance: none;
}
.section__regi .info__wrap .reg__frm__input input:focus, .section__regi .info__wrap .reg__frm__input select:focus {
  border-color: #D09914;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  outline: none;
}
.section__regi .info__wrap .reg__frm__input input::placeholder, .section__regi .info__wrap .reg__frm__input select::placeholder {
  color: #999;
  font-size: 16px;
}
.section__regi .info__wrap .reg__frm__input select.placeholder-shown {
  color: #A4A4A4;
}
.section__regi .info__wrap .reg__frm__input select.placeholder-hidden {
  color: #000;
}
.section__regi .info__wrap .reg__frm__check input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section__regi .info__wrap .reg__frm__check input:disabled + label::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.11035' y='0.5' width='24' height='24' rx='5.5' fill='%23999999' stroke='%23999999'/%3E%3C/svg%3E%0A");
}
.section__regi .info__wrap .reg__frm__check input:disabled + label {
  color: #999;
  cursor: default;
}
.section__regi .info__wrap .reg__frm__check input + label {
  display: flex;
  align-items: center;
  gap: 0 20px;
  cursor: pointer;
  font-size: 16px;
}
.section__regi .info__wrap .reg__frm__check input + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.499512' width='24' height='24' rx='5.5' fill='white' stroke='%23999999'/%3E%3C/svg%3E%0A");
}
.section__regi .info__wrap .reg__frm__check input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Crect x='1.24805' y='0.499512' width='24' height='24' rx='5.5' fill='%23D09914' stroke='%23D09914'/%3E%3Cpath d='M7.2334 12.223L11.3812 16.4398L19.2621 8.55908' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}
.section__regi .noti {
  position: absolute;
  left: 200px;
  top: 48px;
  font-size: 14px;
  line-height: 1.2;
  color: #D09914;
}
.section__regi .reg__frm:last-child .noti {
  color: #000;
  font-weight: 500;
}
.section__regi .check-box input + label {
  padding: 0 0 0 45px;
  white-space: nowrap;
}
.section__regi .check-box input + label::before {
  left: 0;
}
.section__regi .info .desc {
  margin-bottom: 20px;
}
.section__regi .info .desc .en {
  font-size: 28px;
  color: #D09914;
}
.section__regi .date {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 13px 0;
}
.section__regi .date > .reg__frm__ttl {
  width: 100%;
}
.section__regi .date.active {
  display: flex;
}
.section__regi .date .datepicker {
  position: relative;
  width: 100%;
  height: 100%;
}
.section__regi .date .datepicker input {
  cursor: pointer;
}
.section__regi .date .datepicker .ui-datepicker-trigger {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.section__regi .date .box {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  max-width: 100%;
}
.section__regi .date .box .item {
  display: flex;
  align-items: center;
}
.section__regi .date .box .item .reg__frm__ttl {
  width: 100px;
}
.section__regi .date .box .item .reg__frm__input {
  width: 314.09px;
  margin: 0 20px 0 0;
  position: relative;
}
.section__regi .date .box .item .reg__frm__input input {
  width: 100%;
}
.section__regi .date .box .item .reg__frm__input .icon-drop {
  width: 25px;
  height: 25px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/resources/images/icon_time.svg);
}
.section__privacy {
  padding: 100px 0 0;
}
.section__privacy .privacy {
  margin: -30px 0 0;
}
.section__privacy .privacy__box {
  padding: 30px;
  padding-bottom: 0;
}
.section__privacy .privacy__box:first-child, .section__privacy .privacy__box:last-child {
  padding: 30px;
  border-bottom: 1px solid #E0E0E0;
}
.section__privacy .privacy__box.all-check {
  padding: 30px;
  background: #FBFBFB;
}
.section__privacy .privacy__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__privacy .privacy__body {
  padding: 12px 0 0 36px;
  display: flex;
  flex-direction: column;
  gap: 13px 0;
}
.section__privacy .privacy__tit {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.section__privacy .privacy__con {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.section__privacy .privacy__con.desc {
  position: relative;
  padding: 0 0 0 21px;
}
.section__privacy .privacy__con.desc span {
  position: absolute;
  left: 0;
}
.section__privacy .toggle__btn {
  display: block;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: unset;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cmask id='mask0_149_2691' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='24'%3E%3Crect x='0.501465' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_149_2691)'%3E%3Cpath d='M12.5015 15.3751L6.50146 9.3751L7.90146 7.9751L12.5015 12.5751L17.1015 7.9751L18.5015 9.3751L12.5015 15.3751Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E");
}
.section__privacy .toggle__con {
  display: none;
}

@media all and (max-width: 1200px) {
  .pd-30 {
    padding: 2.73vw;
  }
  .pd-40 {
    padding: 3.64vw;
  }
  .icon-drop {
    width: 1.82vw;
    height: 1.82vw;
    right: 1.27vw;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.1938 12.2522L7.11737 8.834C6.94362 8.64095 7.08063 8.33331 7.34036 8.33331H13.4931C13.7529 8.33331 13.8899 8.64095 13.7161 8.834L10.6397 12.2522C10.5206 12.3846 10.3129 12.3846 10.1938 12.2522Z' fill='%23121212'/%3E%3C/svg%3E");
  }
  .btn__submit {
    width: 37.09vw;
    height: 7vw;
    border-radius: 9.09vw;
    margin-top: 9.09vw;
    margin-bottom: 9.09vw;
  }
  .section {
    /* 정보 입력 영역 */
  }
  .section.formfield .inner {
    width: 90vw;
  }
  .section .form__head {
    margin: 0 0 2.73vw;
    padding: 0 0 2.73vw;
    border-bottom: 0.09vw solid #E0E0E0;
  }
  .section .form__head__tit {
    padding: 0 0 1.09vw;
    font-size: 2.91vw;
    letter-spacing: -0.03vw;
  }
  .section .form__head__desc {
    font-size: 1.45vw;
  }
  .section .form__head__sub {
    margin: -2.73vw 0 0;
    padding: 2.73vw;
  }
  .section .form__head__sub .tit {
    font-size: 1.45vw;
    letter-spacing: -0.03vw;
    margin: 0 0 1.18vw;
  }
  .section .form__head__sub .detail li {
    font-size: 1.27vw;
    letter-spacing: -0.03vw;
    text-indent: -0.82vw;
    padding: 0 0 0 0.91vw;
  }
  .section .check-box input {
    width: 0.09vw;
    height: 0.09vw;
    padding: 0;
    margin: -0.09vw;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .section .check-box input:disabled + label::before {
    background-image: none;
    border-radius: 0.45vw;
  }
  .section .check-box input + label {
    gap: 0 1.45vw;
    font-size: 1.45vw;
    letter-spacing: -0.03vw;
  }
  .section .check-box input + label::before {
    width: 2vw;
    height: 2vw;
  }
  .section__regi {
    padding: 9.09vw 0 0;
  }
  .section__regi .info__wrap {
    gap: 2.73vw 0;
  }
  .section__regi .info__wrap .reg__frm__half {
    gap: 0 3.64vw;
  }
}
@media all and (max-width: 1200px) and (max-width: 1100px) and (min-width: 769px) {
  .section__regi .info__wrap .reg__frm__half .reg__frm {
    max-width: 45.7vw;
  }
}
@media all and (max-width: 1200px) {
  .section__regi .info__wrap .reg__frm__bg .detail {
    margin: 1.09vw 0 0 3.64vw;
  }
  .section__regi .info__wrap .reg__frm__bg .detail li {
    font-size: 1.27vw;
    letter-spacing: -0.03vw;
    text-indent: -0.82vw;
    padding: 0 0 0 0.91vw;
  }
  .section__regi .info__wrap .reg__frm__ttl {
    margin: 0 0 1.09vw;
    font-size: 1.45vw;
    letter-spacing: -0.03vw;
  }
  .section__regi .info__wrap .reg__frm__desc {
    margin: 0.83vw 0 0;
    background-size: 1.67vw 1.67vw;
    padding: 0 0 0 2.5vw;
    font-size: 1.33vw;
    letter-spacing: -0.03vw;
  }
  .section__regi .info__wrap .reg__frm__input {
    width: 100%;
    height: 4.73vw;
  }
  .section__regi .info__wrap .reg__frm__input.row {
    gap: 0 1.09vw;
  }
  .section__regi .info__wrap .reg__frm__input input, .section__regi .info__wrap .reg__frm__input select {
    font-size: 1.45vw;
  }
  .section__regi .info__wrap .reg__frm__input input:focus, .section__regi .info__wrap .reg__frm__input select:focus {
    box-shadow: 0vw 0.36vw 0.91vw 0.27vw rgba(0, 0, 0, 0.11);
  }
  .section__regi .info__wrap .reg__frm__input input::placeholder, .section__regi .info__wrap .reg__frm__input select::placeholder {
    font-size: 1.45vw;
  }
  .section__regi .info__wrap .reg__frm__check input {
    width: 0.08vw;
    height: 0.08vw;
    margin: -0.08vw;
  }
  .section__regi .info__wrap .reg__frm__check input + label {
    gap: 0 1.67vw;
    font-size: 1.45vw;
  }
  .section__regi .info__wrap .reg__frm__check input + label::before {
    width: 2.08vw;
    height: 2.08vw;
  }
  .section__regi .date {
    gap: 1.18vw 0;
  }
  .section__regi .date .datepicker {
    width: 100%;
    height: 100%;
  }
  .section__regi .date .datepicker input {
    cursor: pointer;
  }
  .section__regi .date .datepicker .ui-datepicker-trigger {
    width: 2.27vw;
    right: 1.36vw;
  }
  .section__regi .date .box {
    gap: 2.27vw 0;
  }
  .section__regi .date .box .item .reg__frm__ttl {
    width: 9.09vw;
  }
  .section__regi .date .box .item .reg__frm__input {
    width: 28.55vw;
    margin: 0 1.82vw 0 0;
  }
  .section__regi .date .box .item .reg__frm__input input {
    width: 100%;
  }
  .section__regi .date .box .item .reg__frm__input .icon-drop {
    width: 2.27vw;
    height: 2.27vw;
    right: 0.91vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .section__regi .noti {
    left: 18.18vw;
    top: 4.36vw;
    font-size: 1.27vw;
  }
  .section__regi .check-box input + label {
    padding: 0 0 0 4.09vw;
    white-space: nowrap;
  }
  .section__regi .check-box input + label::before {
    left: 0;
  }
  .section__regi .info .desc {
    margin-bottom: 1.82vw;
  }
  .section__regi .info .desc .en {
    font-size: 2.55vw;
  }
  .section__privacy {
    padding: 9.09vw 0 0;
  }
  .section__privacy .privacy {
    margin: -2.73vw 0 0;
  }
  .section__privacy .privacy__box {
    padding: 2.73vw;
    padding-bottom: 0;
  }
  .section__privacy .privacy__box:first-child, .section__privacy .privacy__box:last-child {
    padding: 2.73vw;
    border-bottom: 0.09vw solid #E0E0E0;
  }
  .section__privacy .privacy__box.all-check {
    padding: 2.73vw;
    background: #FBFBFB;
  }
  .section__privacy .privacy__body {
    padding: 1.09vw 0 0 3.27vw;
    gap: 1.18vw 0;
  }
  .section__privacy .privacy__tit {
    font-size: 1.27vw;
  }
  .section__privacy .privacy__con {
    font-size: 1.27vw;
  }
  .section__privacy .privacy__con.desc {
    padding: 0 0 0 1.91vw;
  }
  .section__privacy .toggle__btn {
    width: 2.18vw;
    height: 2.18vw;
    background-size: contain;
  }
}
@media all and (max-width: 768px) {
  .inner {
    width: 90% !important;
  }
  .pd-30 {
    padding: 6.5104166667vw 5.2083333333vw;
  }
  .pd-40 {
    padding: 3.90625vw 0 0;
  }
  .custom .inner {
    width: 100% !important;
  }
  .custom .inner .form__head__tit {
    padding-left: 5vw;
  }
  .custom .inner .form__head__desc {
    padding-right: 5vw;
  }
  .icon-drop {
    width: 6.5104166667vw;
    height: 6.5104166667vw;
    right: 3.90625vw;
  }
  .btn__submit {
    width: 100%;
    height: 13.671875vw;
    border-radius: 13.0208333333vw;
    margin-top: 13.0208333333vw;
    margin-bottom: 13.0208333333vw;
  }
  .section {
    /* 정보 입력 영역 */
  }
  .section.formfield .inner {
    width: calc(100% - 10.4166666667vw);
  }
  .section .form__head {
    margin: 0 0 5.2083333333vw;
    padding: 0 0 5.2083333333vw;
    border-bottom: 0.1302083333vw solid #E0E0E0;
  }
  .section .form__head__tit {
    padding: 0;
    font-size: 5.2083333333vw;
  }
  .section .form__head__desc {
    font-size: 3.125vw;
  }
  .section .form__head__sub {
    margin: -6.5104166667vw 0 0;
    padding: 6.5104166667vw;
    border-top: 1px solid #E0E0E0;
  }
  .section .form__head__sub .tit {
    font-size: 3.6458333333vw;
    margin: 0 0 2.6041666667vw;
  }
  .section .form__head__sub .detail li {
    font-size: 3.125vw;
    text-indent: -1.8vw;
    padding: 0 0 0 2.5vw;
  }
  .section .check-box input:disabled + label::before {
    background-image: none;
    border-radius: 0.45vw;
  }
  .section .check-box input + label {
    text-align: left;
    align-items: flex-start;
    gap: 0 2.6041666667vw;
    font-size: 3.6458333333vw;
  }
  .section .check-box input + label::before {
    width: 5.859375vw;
    height: 5.859375vw;
  }
  .section__regi {
    padding: 13.0208333333vw 0 0;
  }
  .section__regi .info__wrap {
    gap: 5.2083333333vw 0;
  }
  .section__regi .info__wrap .reg__frm__half {
    flex-direction: column;
    gap: 5.2083333333vw 0;
  }
  .section__regi .info__wrap .reg__frm__bg .detail {
    margin: 2.9947916667vw 0 0 0;
  }
  .section__regi .info__wrap .reg__frm__bg .detail li {
    font-size: 3.125vw;
    letter-spacing: -0.03vw;
    text-indent: -1.8vw;
    padding: 0 0 0 2.5vw;
  }
  .section__regi .info__wrap .reg__frm__ttl {
    margin: 0 0 1.5625vw;
    font-size: 3.6458333333vw;
  }
  .section__regi .info__wrap .reg__frm__desc {
    margin: 4.6875vw 0 0;
    background-size: 5.2083333333vw;
    padding: 0 0 0 7.8125vw;
    font-size: 3.125vw;
  }
  .section__regi .info__wrap .reg__frm__input {
    width: 100%;
    height: 13.4114583333vw;
  }
  .section__regi .info__wrap .reg__frm__input.row {
    gap: 0 2.6041666667vw;
  }
  .section__regi .info__wrap .reg__frm__input input, .section__regi .info__wrap .reg__frm__input select {
    font-size: 3.6458333333vw;
    border-radius: 0.78125vw;
    padding: 3.90625vw;
  }
  .section__regi .info__wrap .reg__frm__input input:focus, .section__regi .info__wrap .reg__frm__input select:focus {
    box-shadow: 0px 0.5208333333vw 1.3020833333vw 0.390625vw rgba(0, 0, 0, 0.11);
  }
  .section__regi .info__wrap .reg__frm__input input::placeholder, .section__regi .info__wrap .reg__frm__input select::placeholder {
    font-size: 3.6458333333vw;
  }
  .section__regi .info__wrap .reg__frm__check input + label {
    gap: 0 3.90625vw;
    font-size: 3.6458333333vw;
  }
  .section__regi .info__wrap .reg__frm__check input + label::before {
    width: 5.859375vw;
    height: 5.859375vw;
  }
  .section__regi .date {
    gap: 0;
  }
  .section__regi .date .datepicker {
    width: 100%;
    height: 100%;
  }
  .section__regi .date .datepicker input {
    cursor: pointer;
  }
  .section__regi .date .datepicker .ui-datepicker-trigger {
    width: 4.6875vw;
    right: 4.296875vw;
  }
  .section__regi .date .box {
    gap: 2.6041666667vw 0;
    width: 100%;
  }
  .section__regi .date .box .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section__regi .date .box .item .reg__frm__ttl {
    display: block;
    width: 100%;
    grid-area: 1/1/2/3;
  }
  .section__regi .date .box .item .reg__frm__input {
    display: inline-flex;
    width: 43.4895833333vw;
    margin: 0 2.6041666667vw 0 0;
  }
  .section__regi .date .box .item .reg__frm__input input {
    width: 100%;
  }
  .section__regi .date .box .item .reg__frm__input .icon-drop {
    width: 4.6875vw;
    height: 4.6875vw;
    right: 4.296875vw;
  }
  .section__regi .noti {
    left: 18.18vw;
    top: 4.36vw;
    font-size: 1.27vw;
  }
  .section__regi .check-box input + label {
    padding: 0 0 0 4.09vw;
    white-space: nowrap;
  }
  .section__regi .check-box input + label::before {
    left: 0;
  }
  .section__regi .info .desc {
    margin-bottom: 1.82vw;
  }
  .section__regi .info .desc .en {
    font-size: 2.55vw;
  }
  .section__privacy .privacy {
    margin: -5.2083333333vw 0 0;
  }
  .section__privacy .privacy__box {
    padding: 5.2083333333vw 3.90625vw;
    padding-bottom: 0;
  }
  .section__privacy .privacy__box:first-child, .section__privacy .privacy__box:last-child {
    padding: 5.2083333333vw 3.90625vw;
    border-bottom: 0.1302083333vw solid #E0E0E0;
  }
  .section__privacy .privacy__box.all-check {
    padding: 5.2083333333vw 3.90625vw;
    background: #FBFBFB;
  }
  .section__privacy .privacy__head {
    align-items: flex-start;
  }
  .section__privacy .privacy__body {
    padding: 3.90625vw 0 0;
    gap: 1.18vw 0;
  }
  .section__privacy .privacy__tit {
    font-size: 3.125vw;
  }
  .section__privacy .privacy__con {
    font-size: 3.125vw;
    padding: 0 0 0 8.4635416667vw;
  }
  .section__privacy .privacy__con.desc {
    padding: 0 0 0 4.296875vw;
  }
  .section__privacy .toggle__btn {
    width: 6.7708333333vw;
    height: 6.7708333333vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
/* 체크박스 추가 스타일 */
.checkbox .row {
  gap: 0 86px !important;
}
.checkbox.reg__frm__half {
  align-items: center !important;
}
.checkbox .reg__frm__ttl {
  margin-bottom: 0 !important;
}
.checkbox .reg__frm__input {
  height: unset !important;
}

.sizeform .reg__frm__input {
  justify-content: center !important;
  margin: 50px 0 80px;
}
.sizeform__detail__table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}
.sizeform__detail__table th,
.sizeform__detail__table td {
  height: 67px;
}
.sizeform__detail__table thead tr {
  background-color: #f8f8f8;
}
.sizeform__detail__table thead tr th {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.35;
}
.sizeform__detail__table tbody tr {
  border-top: 1px solid #e0e0e0;
}
.sizeform__detail__table tbody tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.sizeform__detail__table tbody tr td {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}
.sizeform__detail__table tbody tr td:first-child {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.35;
}
.sizeform__detail__desc {
  margin: 15px 0 80px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.sizeform__detail__img {
  width: 351px;
  margin: 0 auto;
}
.sizeform__detail__img img {
  width: 100%;
  height: auto;
}

@media all and (max-width: 1200px) {
  .checkbox .row {
    gap: 0 7.17vw !important;
  }
  .sizeform .reg__frm__input {
    margin: 4.17vw 0 6.67vw;
  }
  .sizeform__detail__table th,
  .sizeform__detail__table td {
    height: 5.58vw;
  }
  .sizeform__detail__table thead tr th {
    font-size: 1.5vw;
  }
  .sizeform__detail__table tbody tr {
    border-top: 0.08vw solid #e0e0e0;
  }
  .sizeform__detail__table tbody tr:last-child {
    border-bottom: 0.08vw solid #e0e0e0;
  }
  .sizeform__detail__table tbody tr td {
    font-size: 1.5vw;
  }
  .sizeform__detail__table tbody tr td:first-child {
    font-size: 1.5vw;
  }
  .sizeform__detail__desc {
    margin: 1.25vw 0 6.67vw;
    font-size: 1.33vw;
  }
  .sizeform__detail__img {
    width: 29.25vw;
  }
}
@media all and (max-width: 768px) {
  .form__head {
    flex-direction: column;
    align-items: flex-start !important;
    border-bottom: none !important;
  }
  .form__head__tit {
    width: 100%;
    border-bottom: 0.1302083333vw solid #E0E0E0;
    padding: 0 0 2.6041666667vw !important;
    margin: 0 0 2.6041666667vw;
  }
  .reg__frm__half.checkbox {
    align-items: flex-start !important;
  }
  .reg__frm__half.checkbox .reg__frm__input {
    width: 80%;
    margin: 0 auto;
    gap: unset;
  }
  .reg__frm__half.checkbox .reg__frm__input .reg__frm__check {
    width: 50%;
  }
  .sizeform .reg__frm__input {
    width: 80% !important;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 6.7708333333vw;
    flex-wrap: wrap;
    gap: 7.8125vw 0 !important;
  }
  .sizeform .reg__frm__check {
    width: 50%;
  }
  .sizeform__detail__table {
    width: 100%;
  }
  .sizeform__detail__table tr, .sizeform__detail__table td {
    height: 10.4166666667vw;
  }
  .sizeform__detail__table thead tr th {
    font-size: 3.6458333333vw;
  }
  .sizeform__detail__table thead tr th span {
    font-size: 2.6041666667vw;
  }
  .sizeform__detail__table tbody tr td {
    font-size: 3.6458333333vw;
  }
  .sizeform__detail__table tbody tr td:first-child {
    font-size: 3.6458333333vw;
  }
  .sizeform__detail__desc {
    margin: 3.90625vw 0 13.0208333333vw;
    font-size: 3.125vw;
  }
  .sizeform__detail__desc li {
    text-indent: -1.7vw;
    padding: 0 0 0 1.7vw;
  }
  .sizeform__detail__img {
    width: 95%;
  }
}