.blind {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .inner {
    width: 1200px;
    margin: 0 auto;
  }
  
  .mo-cont {
    display: none !important;
  }
  
  .btn {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .footer {
    padding: 16px 0 17px;
    background: #D09914;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: -0.9px;
    color: #FFF;
    text-align: center;
  }
  .footer a {
    text-decoration: underline;
  }
  
  .section {
    padding: 150px 0;
  }
  .section__head {
    margin: 0 0 100px;
  }
  .section__tit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    color: #D09914;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
  }
  .section__tit::before, .section__tit::after {
    content: "";
    display: block;
    width: 19px;
    height: 4px;
    background: #D09914;
  }
  .section__desc {
    margin: 17px 0 0;
    text-align: center;
    color: #000;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
  }
  .section__visual {
    background: url("../images/mv_bg.png") no-repeat center center/cover;
    width: 100%;
    height: 703px;
  }
  .section__visual .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 87px 0 0;
    color: #000;
  }
  .section__visual h1 a {
    display: block;
    content: "";
    width: 151px;
    height: 39.1px;
    background: url("../images/logo.svg") no-repeat center center/contain;
  }
  .section__visual h2 {
    margin: 49px 0 18px;
    font-size: 95px;
    font-weight: 800;
    line-height: 1.2;
  }
  .section__visual .date {
    width: 545px;
    border-top: 1px solid #000;
    padding: 19px 0 0;
    display: flex;
    gap: 0 62px;
    color: #000;
    font-size: 27px;
    font-weight: 500;
    line-height: 1.4;
  }
  .section__visual .date__con {
    font-weight: 400;
  }
  .section__visual .date__desc {
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    line-height: 1;
  }
  .section__agenda .section__tit {
    margin: 0 0 70px;
  }
  .section__agenda img {
    display: block;
    margin: 0 auto;
  }
  .section__event {
    background: #F4F4F4;
  }
  .section__event .section__tit {
    margin: 0 0 50px;
  }
  .section__event .article {
    width: 100%;
    background: #FFE3C9 url("../images/event_bg.png") no-repeat center right 172px/contain;
    border-radius: 15px;
    padding: 72px 118px;
  }
  .section__event .article__tit {
    color: #000;
    font-size: 36px;
    font-weight: 800;
    line-height: 34.5px;
    letter-spacing: -0.72px;
  }
  .section__event .article__desc {
    margin: 22px 0 0;
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.78px;
  }
  .section__event .article__desc em {
    font-weight: 700;
    color: #D09914;
  }
  .section__noti {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.9px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .modal .popup {
    background-color: #D09914 !important;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    max-height: 95vh;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 29px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    z-index: 5;
  }
  .modal .popup .close {
    content: "";
    width: 30px;
    height: 30px;
    background: url("../images/icon_close.svg") no-repeat center center/contain;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .modal__complete {
    text-align: center !important;
    color: #FFF;
  }
  .modal__complete__tit {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
  }
  .modal__complete__txt {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
  }
  .modal__complete__txt em {
    color: #650000;
  }
  .modal__bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
  }
  
  @media all and (max-width: 1200px) {
    .footer {
      padding: 1.33vw 0 1.42vw;
      font-size: 1.5vw;
      letter-spacing: -0.07vw;
    }
    .inner {
      width: 90%;
    }
    .section {
      padding: 12.5vw 0;
    }
    .section__head {
      margin: 0 0 8.33vw;
    }
    .section__tit {
      gap: 0 1.33vw;
      font-size: 4.17vw;
    }
    .section__tit::before, .section__tit::after {
      width: 1.58vw;
      height: 0.33vw;
    }
    .section__desc {
      margin: 1.42vw 0 0;
      font-size: 2.17vw;
    }
    .section__visual {
      height: 58.58vw;
    }
    .section__visual .inner {
      padding: 7.25vw 0 0;
    }
    .section__visual h1 a {
      width: 12.58vw;
      height: 3.26vw;
    }
    .section__visual h2 {
      margin: 4.08vw 0 1.5vw;
      font-size: 7.92vw;
    }
    .section__visual .date {
      width: 45.42vw;
      border-top: 0.08vw solid #000;
      padding: 1.58vw 0 0;
      gap: 0 5.17vw;
      font-size: 2.25vw;
    }
    .section__visual .date__desc {
      font-size: 1.42vw;
    }
    .section__agenda .section__tit {
      margin: 0 0 5.83vw;
    }
    .section__agenda img {
      width: 80vw;
    }
    .section__event .section__tit {
      margin: 0 0 4.17vw;
    }
    .section__event .article {
      border-radius: 1.25vw;
      padding: 6vw 9.83vw;
      background-position: center right 7vw;
    }
    .section__event .article__tit {
      font-size: 3vw;
      line-height: 2.88vw;
      letter-spacing: -0.06vw;
    }
    .section__event .article__desc {
      margin: 1.83vw 0 0;
      font-size: 2.17vw;
      letter-spacing: -0.07vw;
    }
    .section__noti {
      margin: 1.67vw 0;
      font-size: 1.5vw;
      letter-spacing: -0.07vw;
    }
  }
  @media all and (max-width: 768px) {
    .mo-cont {
      display: block !important;
    }
    .pc-cont {
      display: none !important;
    }
    .footer {
      padding: 2.0833333333vw 0;
      font-size: 2.34375vw;
    }
    .section {
      padding: 19.53125vw 0;
    }
    .section__head {
      margin: 0 0 10.4166666667vw;
    }
    .section__tit {
      gap: 0 2.0833333333vw;
      font-size: 6.5104166667vw;
    }
    .section__tit::before, .section__tit::after {
      width: 2.4739583333vw;
      height: 0.390625vw;
    }
    .section__visual {
      background: url("../images/mv_bg_m.png") no-repeat center center/cover;
      height: 106.7708333333vw;
    }
    .section__visual .inner {
      padding: 8.8541666667vw 0 0;
    }
    .section__visual h1 a {
      width: 19.6614583333vw;
      height: 5.078125vw;
    }
    .section__visual h2 {
      margin: 6.5104166667vw 0 2.8645833333vw;
      font-size: 11.0677083333vw;
    }
    .section__visual .date {
      width: 65.1041666667vw;
      border-width: 0.15234375vw;
      padding: 2.34375vw 0 0;
      gap: 0 7.421875vw;
      font-size: 3.2552083333vw;
    }
    .section__visual .date__desc {
      font-size: 2.0833333333vw;
    }
    .section__agenda .section__tit {
      margin: 0 0 7.421875vw;
    }
    .section__agenda img {
      width: 100%;
    }
    .section__event .section__tit {
      margin: 0 0 6.5104166667vw;
    }
    .section__event .article {
      border-radius: 1.953125vw;
      padding: 6.5104166667vw 4.6875vw 53.3854166667vw;
      background-position: bottom center;
      background-size: 60% auto;
    }
    .section__event .article__tit {
      font-size: 5.2083333333vw;
      line-height: 1.1;
    }
    .section__event .article__desc {
      margin: 3.2552083333vw 0 0;
      font-size: 3.3854166667vw;
    }
    .section__noti {
      margin: 2.4739583333vw 0;
      font-size: 2.34375vw;
    }
    .modal .popup {
      width: 70vw;
      height: 40vw;
      border-radius: 2.61vw;
      box-shadow: 1.3vw 1.3vw 1.3vw 0vw rgba(0, 0, 0, 0.25);
      gap: 3.78vw 0;
    }
    .modal .popup .close {
      width: 4vw;
      height: 4vw;
      top: 3.91vw;
      right: 3.91vw;
      background-size: contain;
    }
    .modal__complete__tit {
      font-size: 4.69vw;
    }
    .modal__complete__txt {
      font-size: 3.39vw;
    }
  }